
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap'); # se copio url desde googlefont 
# a los botones les asigne un color y tamaño 
.grid-container {          

  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #cae7d5;
  padding: 10px;
}
.grid-container  {
  background-color: #90dabb;
  border: 2px solid black;
  text-align: center;
  
  width: 100%;
  height: 500px;

}
.botones-calculadora{
    display:grid;
    grid-template-columns: repeat(4,1fr);

  }
.btn:hover{
    background: #fff;
}
.btn-number{
  background-color: rgb(181, 172, 43);

}
.btn-operator{
  background-color: #ffbf00;
  color: black;
}

.muestra-resultado{
  grid-column-start: 1;
  grid-column-end: 3;
}
